/*
   Import partials below
*/
@import './normalize';

@import './variables';

@mixin reset-margins($type: 'all') {
  @if ($type== 'all') {
    margin: 0;
  } @else if ($type== 'ver') {
    margin-top: 0;
    margin-bottom: 0;
  } @else if ($type== 'hor') {
    margin-left: 0;
    margin-right: 0;
  }
}

@mixin reset-paddings($type: 'all') {
  @if ($type== 'all') {
    padding: 0;
  } @else if ($type== 'ver') {
    padding-top: 0;
    padding-bottom: 0;
  } @else if ($type== 'hor') {
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin flex-center($type: 'all') {
  display: flex;

  @if ($type == 'all') {
    justify-content: center;
    align-items: center;
  } @else if ($type == 'hor') {
    justify-content: center;
  } @else if ($type == 'ver') {
    align-items: center;
  } @else {
    justify-content: center;
    align-items: center;
  }
}

.container {
  min-width: 360px;
  max-width: 1920px;
  margin: 0 auto;
}

// HEADER
.header {
  min-width: 360px;
  position: relative;
  height: 668px;
  overflow: hidden;
  margin-bottom: 50px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.65));
}

.header_video {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  min-height: 100%;
  min-width: 100%;
}

.header_content {
  height: 100%;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  padding: 24px 24px 0 24px;
  background: rgba(0, 128, 128, 0.4);
  margin-bottom: 170px;
}

.logo {
  display: inline-block; //for block separate use
  background: rgba(255, 0, 0, 0.4);
  vertical-align: middle;
  @include reset-margins('ver');
}

.logo_link {
  font: bold 24px $main-font;
  color: $text-white-color;
  text-decoration: none;
}

.logo_icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  width: 36px;
  height: 32px;
}

.menu-toggle {
  display: inline-block; //for block separate use
  background: rgba(255, 165, 0, 0.4);
  vertical-align: middle;
}

.menu-toggle_icon {
  display: block;
  width: 30px;
  height: 30px;
}

.header_description {
  text-align: center;
  margin: auto;
  padding: 0 5px;
  background: rgba(173, 255, 47, 0.3);
}

.header_icon {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 15px;
  height: 30px;
  width: 30px;
}

.header_title {
  font: bold 30px/1 $main-font;
  color: $text-white-color;
  @include reset-margins;
  margin-bottom: 50px;
}

.header_subtitle {
  font: bold 24px/1.5 $main-font;
  color: $text-white-color;
  @include reset-margins('ver');
}

// GOALS
.goals {
  // background: rgba(240, 238, 128, 0.377);
}

.goals_solutution {
  margin: auto;
  margin-bottom: 50px;
  padding: 0 24px;
}

.solution_wrapper {
  margin-bottom: 40px;
}

.solution_title {
  font: 500 20px $main-font;
  color: $articles-title-color;
  margin-top: 0;
  margin-bottom: 48px;
  position: relative;

  &::after {
    content: '';
    height: 8px;
    width: 260px;
    background: linear-gradient(92deg, $gradient-color-first, $gradient-color-second);
    position: absolute;
    top: 39px;
    left: -24px;
  }
}

.solution_description {
  font: 12px/1.5 $main-font;
  letter-spacing: 0.9px;
  color: $articles-text-color;
  @include reset-margins('ver');

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.solution_video {
  width: 100%;
}

.goals_opinion {
  margin: 0 auto;
}

.opinion {
  padding: 0 24px;
  position: relative;

  // Робим здвинутий фон з допомогою after, а не двигаєм внутрішні елементи. Таким способом ми не маєм давати position: absolute внутрішнім елементам, тим самим забезпечуючи відсутність схлопування контенера і не даємо наїжати елементам на сусідні блоки. Також, бо цей фон не залежить від розмірів елементів всередині.
  &::after {
    content: '';
    z-index: -1;
    position: absolute;
    margin-top: 25%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(147deg, $gradient-color-first, $gradient-color-second);
  }
}

.opinion_video {
  margin: 0 auto 30px auto;
  display: block;
  width: 100%; //don’t del this property because video get out of the block
}

.opinion_description {
  @include reset-margins(ver);
  font: 300 14px/1.29 $main-font;
  text-align: center;
  color: $text-white-color;
  padding-bottom: 50px;
}
// =========================================================================
// MEDIA
@import './media.scss';
