/*
   Import partials below
*/
@import './normalize';

@import './variables';

p {
  color: $articles-text-color;
  font-size: 14px;
}

// .container {
//   max-width: 1920px;
//   min-width: 414px;
//   background: lightblue;
//   outline: 1px solid green;
// }

.header {
  position: relative;
  max-height: 1080px;
  height: 56.25vw;
  overflow: hidden;
}

.header_video {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.header_content {
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.65)
  );
}

.header_nav {
  display: flex;
  justify-content: space-between;
  padding: 70px 70px 0 70px;
}

.logo {
  display: inline-block;
  font: bold 40px 'Ubuntu', sans-serif;
  color: #ffffff;
  text-decoration: none;
}

.logo_icon {
  vertical-align: middle;
  margin-right: 50px;
}

.menu-toggle .menu-toggle_icon {
  display: inline-block; //якщо потрібно використовувати десь окремо
}


.header_description {
  width: 1058px;
  text-align: center;
  margin: auto;
  margin-top: 10vw;
}

.header_title {
  font: bold 87px 'Ubuntu', sans-serif;
  color: #ffffff;
  margin: 0;
  vertical-align: middle;
  margin-bottom: 120px;
}

.header_icon {
  vertical-align: middle;
  margin-right: 50px;
}

.header_subtitle {
  font: bold 52px 'Ubuntu', sans-serif;
  color: #ffffff;
}
